@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scroll {
  /* IE, Edge 対応 */
  -ms-overflow-style: none;
  /* Firefox 対応 */
  scrollbar-width: none;
}
/* Chrome, Safari 対応 */
.no-scroll::-webkit-scrollbar {
  display:none;
}